<header>
	<img id='logo' src="{{ asset ('img/logo.png')}}" alt="logo-site">
	<nav id="menu">
		<a class="home" href="{{path('home')}}">Accueil</a>
		<a class="about" href="{{path('a-propos')}}">À-propos</a>
		<a class="soins" href="{{path('soins')}}">Les prestations</a>
		<a class="contact" href="{{path('contact')}}">Contactez-moi</a>
		<a class="connexion" href="{{path('connexion')}}">Prendre RDV</a>

	</nav>
</header>
