{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	{% for flashError in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}
	
		<h1 class="enregistrement">Inscription</h1>
		{{ form_start(registrationForm,{
			'attr':{'id':'form-inscription'}
		}) }}
		{{ form_row(registrationForm.email,{
			'row_attr':{'class':'form-email'}
		}) }}	
		{{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe',
			'row_attr':{'class':'form-password'}
        }) }}	
		{{ form_row(registrationForm.agreeTerms, {
			label:'conditions acceptées',
			'row_attr':{'class':'form-terms'}
		}) }}
		<button type="submit" class="btn">s'inscrire</button>
		{{ form_end(registrationForm) }}
	
{% endblock %}
