<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,shrink-to-fit=no">
		<link href="{{asset('css/styleApp.css')}}" rel="stylesheet"/>
		<link href="{{asset('css/fonts.css')}}" rel="stylesheet"/>
		<title>
			{% block title %}{% endblock %}
		</title>

		{# Run `composer require symfony/webpack-encore-bundle`and uncomment the following Encore helpers to start using Symfony UX #}
		{% block stylesheets %}
			{#{{ encore_entry_link_tags('app') }}#}
		{% endblock %}

		{% block javascripts %}
			{#{{ encore_entry_script_tags('app') }}#}
		{% endblock %}
	</head>
	<body {% block bodyClass %}{% endblock %}>
	
		{{ include('app/_header.html.twig') }}

		{% block body %}{% endblock %}
		
		
		
		
	</body>
</html>
